<html><head><title>IFN649 Assessment </title>
<style>body{font-family:verdana;font-size:14px;background-color: #eee;}
a{padding:15px;text-align:center;color:black;margin:5px;border-radius:10px;display:inline-block;text-decoration:none;background-image:linear-gradient(to bottom right, cyan, #c6f6c6);}
div{margin:auto;width:400px;border-radius:10px;background-color:white;padding:10px 30px 20px}</style></head>
<body>
<div style='margin-top:40px;margin-bottom:10px;background-image:linear-gradient(to bottom right, cyan, #c6f6c6)'><h2>IFN649 Assessment 1</h2></h3>Matheus Cavalca Ruggiero<br />N10913556</h3></div>
<div>
<h2>Login</h2>
<form action="/" method="post">
<p></p>
<p>Username <input type="text" name="user" /></p>
<p>Password <input type="password" name="pwd" /></p>
<p><input type="submit" value="submit" /></p>
</form>
</div></body></html>
